[2018-10-31 06:21] s3rj1k opened #3 "please provide ViewMessages example"
Please provide ViewMessages working example, to read message one by one from chat.

[2018-10-31 12:19] zelenin commented on #3
[code]

[2018-10-31 12:19] #3 closed

[2019-04-01 19:35] azaz5959 opened #5 "Problem in building example"
I'm using Ubuntu 16.04 and use instruction for installing library on Ubuntu.
When I want to build the provided example I got the following errors:

[code]

[2019-04-01 23:53] zelenin commented on #5
please use more newer version of Ubuntu (and tdlib repo's issues)

[2019-04-01 23:53] #5 closed

[2019-06-06 19:02] s3rj1k opened #6 "Update tdlib to v1.4.0?"
https://github.com/tdlib/td/releases/tag/v1.4.0

[2019-06-07 10:58] zelenin commented on #6
check last commit with 1.4.0

[2019-06-07 10:58] #6 closed

[2019-06-07 15:50] s3rj1k commented on #6
@zelenin thanks : )

[2019-06-30 08:33] eexbee opened #7 "PingProxy before Authorization"
Can you give me an example of how to add a MTPtoto proxy and ping it without authorization? I was able to do this after authorization.
thanks.

[2019-06-30 15:22] zelenin commented on #7
https://github.com/zelenin/go-tdlib#proxy-support

[2019-06-30 15:22] #7 closed

[2019-08-05 22:14] itshaadi opened #8 "Handle updates based on certain criteria (filter) [help wanted]"
How can I for example react to new messages that are forwarded?

[code]

[2019-08-06 21:38] johnbalvin opened #9 "Phone number can't be empty"
I'm using this code:
[code]
and I got an error "NewClient error: Phone number can't be empty"

Any idea how to solve it?

[2019-08-06 21:45] johnbalvin commented on #8
Could you show authorizer configuration? , I'm having an error and I'm not quite sure what I'm doing wrong

[2019-08-06 22:30] itshaadi commented on #8
Is it something along the lines of `!is_locked failed` ? And then spits out
a bunch of memory addresses?

Because I'm getting an error as well without applying any changes to the
authorizer (except for hash and id). And even with the basic example.

It hsppend last night, maybe they changed or deprecated some methods again?

On Wed, Aug 7, 2019, 2:15 AM John <notifications@github.com> wrote:

[2019-08-07 10:16] johnbalvin commented on #9
It was because I was using a docker container and I didn't attach the standart input.

Also this library it's confusing about how to use it at first, just looking at the code I could understand.
When running the code you need to authenticate with your phone number, the code ask you for you phone number as seen here [authorization.go#L132 ](https://github.com/zelenin/go-tdlib/blob/master/client/aut

[2019-08-07 10:16] #9 closed

[2019-08-07 10:21] johnbalvin opened #10 "Make the authentication code synchronous"
this library it's confusing  when using it at first, just looking at the code I could understand.
When running the code you need to authenticate with your phone number, the code(whic is asynchronous) ask you for you phone number as seen here [authorization.go#L132 ](https://github.com/zelenin/go-tdlib/blob/master/client/authorization.go#L132 ), but in the console there is too much noise from other

[2019-08-07 12:40] zelenin commented on #10
you should decrease error logs level (see readme) or write your own AuthorizationStateHandler/Interactor with a better authorization method. The library (tdlib, not go-tdlib) is asynchronous.

[2019-08-07 13:00] zelenin commented on #8
[code]

[2019-08-07 22:00] #10 closed

[2019-08-07 22:47] johnbalvin opened #11 "messages.getDialogs support?"
I need to use this method
[messages.getDialogs](https://core.telegram.org/method/messages.getDialogs)
but not find it in the library
any suggestion?

[2019-08-08 02:22] zelenin commented on #11
this is tdlib wrapper, not mtproto wrapper

[2019-08-08 02:22] #11 closed

[2019-08-08 12:12] #8 closed

[2019-08-25 06:57] SavostinVladimir opened #13 "Multiple clients on the same machine"
Is there way to create clients for multiple users (not one as in example) and save them to an arbitrary database?

[2019-08-25 07:19] zelenin commented on #13
[code]

[2019-08-25 07:19] #13 closed

[2019-10-16 20:02] ssnikolayev opened #14 "Provide SendMessage example"
Please, could you provide SendMessage (TypeMessageText) example.

[2019-10-17 12:32] zelenin commented on #14
[code]

[2019-10-17 12:32] #14 closed

[2019-10-20 21:35] ssnikolayev commented on #14
Thanks a lot!

[2019-11-06 21:15] gsora opened #16 "Is it possible to modify Banned rights for a user?"
I would like to use go-tdlib for a standard Telegram bot as a moderation tool, in a supergroup.

Is there a way to modify user's [Banned rights](https://core.telegram.org/method/channels.editBanned), assuming the bot admin?

[2019-12-18 15:07] bodqhrohro opened #18 "Race condition in client.receive() goroutine"
Sometimes the `client.Close()` API call does not complete in time and returns the "response catching timeout". As a fallback, I just close the listener when the timeout has happened, so new updates won't be handled. However, the `receive()` goroutine does not gracefully handle this, even though it's supposed to, and occasionally panics:

[code]
The code that causes the panic is:
[code]
The `IsActi

[2020-01-10 21:36] astravexton opened #19 "GetUser timeout"
[code]

`err` sometimes comes back with "response catching timeout", I've checked `message.SenderUserId` and it's always valid and a user, it's not my connection or anything between me and Telegram as far as I can tell. Using tdlib 1.5.0

[2020-02-05 14:06] pioneerit opened #20 "Telegram start blocking for using TDLib client"
Hi there, FYI yesterday (04th February), around 21 GMT few accounts were blocked by Telegram.
```Your account was suspended for suspicious activity. If you think that this is a mistake, please write to recover@telegram.org your phone number and other details to recover the account.```

It happens no matter what soft was doing, 2 app was just collection data, and 1 making custom feed to and sending

[2020-02-05 15:45] zelenin commented on #20
thx

[2020-02-05 15:45] #20 closed

[2020-02-05 16:25] s3rj1k commented on #20
@pioneerit Same thing here. Do you have any news on this?

[2020-02-05 16:45] pioneerit commented on #20
@s3rj1k recovery is not a problem, but I stopped all applications, and haven’t tried my hypothesis yet. And I sent an email to telegram but likely they won’t reply so fast.

[2020-03-23 23:49] ggarza5 opened #21 "Please help with viewing text inside Message.Content"
Hi, how can I transform the output of

       msg, ie := tdlibClient.GetMessage(&client.GetMessageRequest{ChatId:captainId, MessageId:i.Id })
        fmt.Println(msg.Content)

Into the text message of the msg variable? This is the output I receive:
&{{messageText } 0xc000424000 <nil>}

Thank you so much for any assistance you'd provide.

[2020-04-03 13:44] #21 closed

[2020-04-03 13:45] ggarza5 commented on #21
You can view the content with the following code:
msg.Content.(*client.MessageText).Text.Text

[2020-04-08 13:43] jayaraj commented on #13
Is there any option to use Postgres or any other DB  to set in TdlibParameters

[2020-04-08 16:59] zelenin commented on #13
no

[2020-04-09 18:34] #19 closed

[2020-04-23 11:13] Fef0 opened #22 "Provide SetLogStream example"
Hi, I'm having a few issues in order to set the log stream to "empty", using the SetLogStream() method with LogStreamEmpty, could you please provide an example?
Thank you in advance.

[2020-04-24 07:31] zelenin commented on #22
[code]

[2020-04-24 07:31] #22 closed

[2020-05-04 19:45] ympyst opened #23 "Error setting verbosity level for logs"
Hello!

I try to decrease verbosity level for logging (make it 0, like in example), but I get this error:
[code]

This is how I make corresponding request:
[code]

Same error using `client.WithLogVerbosity` from example.

My env:
go-tdlib v0.2.0
tdlib from this image https://hub.docker.com/r/mihaildemidoff/tdlib-go

[2020-05-04 21:56] zelenin commented on #23
it's a v1.6.0 (last for now) option.

[2020-05-04 21:56] #23 closed

[2020-06-16 03:36] longkeyy opened #24 "client.go:10:18: undefined"
go version
go version go1.13.5 darwin/amd64

# github.com/zelenin/go-tdlib/client
../../../../../go/pkg/mod/github.com/zelenin/go-tdlib@v0.2.0/client/client.go:10:18: undefined: JsonClient
../../../../../go/pkg/mod/github.com/zelenin/go-tdlib@v0.2.0/client/client.go:12:23: undefined: Response
../../../../../go/pkg/mod/github.com/zelenin/go-tdlib@v0.2.0/client/listener.go:50:16: undefined: Type

[2020-06-16 10:17] zelenin commented on #24
do you have `../../../../../go/pkg/mod/github.com/zelenin/go-tdlib@v0.2.0/client/tdlib.go`? `JsonClient` and `Response` declared in this file.

[2020-06-18 23:15] Fef0 opened #25 "Statically linking tdlib throws some errors"
Hi, I'm using Linux and I'm trying to compile a standalone app to send to another Linux machine without tdlib installed.
Every time I try to run the compiled executable I get a few different errors:
[code]
Any idea on how I could solve this issue? I don't know if it is related to the lib itself, but I searched online and they suggest that it could be a cross compiling issue, but actually my two ma

[2020-06-20 14:37] Fef0 commented on #25
Solved by updating the second machine glibc to 2.31 (>=2.29).

[2020-06-20 14:37] #25 closed

[2020-06-21 17:18] isaznn opened #26 "/go/pkg/mod/.../client/client.go:10:18: undefined: JsonClient"
Hello. I have dockerized simple project (from readme example code) and received the following errors

[code]

Import in main.go

[code]

My Dockerfile

[code]

ls -la /go/pkg/mod/github.com/zelenin/go-tdlib@v0.2.1-0.20200424062329-a5d1c7ffe705/client

[code]

Without docker everything works fine. What is the problem?

[2020-06-22 16:50] #26 closed

[2020-07-06 14:52] jian-hua-he opened #27 "How to get public group share link from message?"
Hi,

I was trying to get a share link from the upcoming message. I know the share link format is `https://t.me/{supergroup_username}`. I can get the chat by message. But I don’t know how to get supergroup from chat. Would you show me how to do it?

[code]

[2020-07-06 16:25] zelenin commented on #27
[code]

[2020-07-06 16:25] #27 closed

[2020-07-06 21:19] Spec122 opened #28 "Problem with HTTP proxy"
`
proxy := client.WithProxy(&client.AddProxyRequest{
    Server: "ip",
    Port:   myport,
    Enable: true,
    Type: &client.ProxyTypeHttp{
    },
})
tdlibClient, err := client.NewClient(authorizer, logVerbosity, proxy)
`

(My proxy work without auth)
But when i run my code, i get this error

`[ 1][t 0][1594069996.231744528][ClientJson.cpp:76][&status.is_error()]  Failed to parse [request:{\0042

[2020-07-08 12:16] zelenin commented on #28
tdlib version?

[2020-07-08 17:53] Spec122 commented on #28
1.6.0

[2020-07-08 18:03] Spec122 commented on #28
My mistake, after rebuilding the error disappeared.

[2020-07-08 18:03] #28 closed

[2020-07-13 15:24] #24 closed

[2020-07-13 15:24] #18 closed

[2020-07-13 15:25] #16 closed

[2020-09-13 14:38] zzerding opened #29 "build package for windows error"
hi
i want build  package for windows.I build tdlib based on this [URL](https://tdlib.github.io/td/build.html?language=Go)to get directory /src/
[code]
how setting cgo LDFLAGS?
[code]
Unfortunately it cannot be used!

[2020-09-18 17:59] xxxsen opened #30 "build error"
os: ubuntu:20.04
build command:

[code]

error msg:

[code]

[2020-09-20 20:33] imobulus opened #31 "Usage issue on Ubuntu for windows"
Hi,

I need to use telegram database API for automatization purposes, so I installed WSL2 and Ubuntu 20 on my windows PC and then compiled the tdlib package using instructions from [TDLib themselves](https://tdlib.github.io/td/build.html). I installed it in the $HOME/go/src/telegram.org directory, which I created just for this purpose. Then I did `go get github.com/zelenin/go-tdlib`, pasted exampl

[2020-09-22 00:52] #29 closed

[2020-10-11 14:13] #30 closed

[2020-10-11 14:14] xxxsen commented on #30
switch TDLib version to v1.6.0, it works.

[2020-11-06 08:41] askovpen opened #32 "FR: getMessageThread support"
plz update to actual tdlib with getMessageThread support

https://github.com/tdlib/td/issues/1251

[2020-11-06 13:19] zelenin commented on #32
i'll update when tdlib will be tagged

[2020-11-06 13:19] #32 closed

[2020-11-30 09:36] zelenin commented on #32
done

[2020-12-12 23:09] rusq commented on #31
I wouldn't think that this is a library problem - "it works on my machine", but I'm not on Windows.  I would suggest that this is an environment issue.

I would troubleshot this like that:

1. Was the `make install` executed for `tdlib` ?
2. Where did it install the libraries? Check if the files are really there
3. Is this directory in the PATH? If not, add it.
4. Try to compile.
5. If step (4) fa

[2020-12-12 23:18] rusq opened #34 "Wrong tag for `views` field in Message struct"
When calling `GetChatMessageByDate` and the rest Message related functions, they work properly, but the tag is wrong on the views count, so the `Views` field always equals to 0.

Proofs:
Here's the screenshot from DLV session:
[code]
Message is unmarshaled from json:
[code]
While source json contains the value `\"view_count\":9` (also, see above in dlv screenshot).

 I will submit the PR shortly.

[2020-12-12 23:24] rusq commented on #34
Disregard this, I confused this repository with [another one][1] 🤦‍♂️
[1]: github.com/Arman92/go-tdlib

[2020-12-12 23:25] #34 closed

[2020-12-31 15:31] telexengineering opened #35 "Problem with finding last seen status of the user via TDLib getFullUser method."
Hi
As I saw in the documentation of Telegram TDLib library:
https://core.telegram.org/method/users.getFullUser
the `getFullUser` method returns a `UserFull` object which has a field named "user" and we can find the last seen status of desired user from that.
When calling `GetUserFullInfo` method on your library, I figured out that the returning response struct of it, doesn't have a user field and

[2020-12-31 15:59] zelenin commented on #35
https://core.telegram.org/method/users.getFullUser

this is a mtproto docs, not tdlib.

[2020-12-31 16:04] zelenin commented on #35
https://github.com/zelenin/go-tdlib/blob/cc7d37acc2b67d2535de4f94544b139556ff8036/client/function.go#L745

[2020-12-31 16:04] #35 closed

[2021-01-12 16:22] askovpen opened #36 "update.(*tdlib.UpdateNewMessage).Message.Sender always <nil>"
after update to 0.3.1

if reflect.TypeOf(update) == reflect.TypeOf(&tdlib.UpdateNewMessage{}) {
  update.(*tdlib.UpdateNewMessage).Message.Sender //always nil
}

whats wrong?

[2021-01-13 08:07] zelenin commented on #36
[code]
it works for me

[2021-01-13 08:07] #36 closed

[2021-01-16 17:19] askovpen opened #37 "client.SearchPublicChat error"
[code]

[2021-01-17 11:28] zelenin commented on #37
i found the problem. I will release a fix in the near future

[2021-01-18 14:18] zelenin commented on #37
v0.3.2

[2021-01-18 14:18] #37 closed

[2021-01-22 07:23] jbc817 opened #38 "constant -1001032883247 overflows int32"
I try get some info about group but, i can't because occurred error shown in the title, can i fix it?

[code]

[2021-01-22 11:44] zelenin commented on #38
this is chatId, not groupId.

[2021-01-22 11:44] #38 closed

[2021-01-22 11:53] jbc817 commented on #38
Sorry I mistakes,

[2021-01-22 12:53] telexengineering opened #39 "Failed to add multiple contacts via ImportContact method"
Hi everyone
I tried to iterate over csv of my phone contacts (500 to 1000) and generate this struct:
[code]
but when I call ```tdlibClient.ImportContacts(importContactsReq)``` method, I receive this error:
[code]
Although I haven't sent many requests to telegram server, I got this error!
At first I tried inserting 500 contacts and received the error, then I tried to add 100 contacts on another acc

[2021-01-22 13:01] zelenin commented on #39
this is a wrapper over tdlib, so you can read  tdlib issues about it
https://github.com/tdlib/td/search?q=rate+limit&type=issues

[2021-01-22 13:01] #39 closed

[2021-01-26 10:22] jbc817 opened #40 "How get more than 200 users from the chat?"
I have a group where contains 456 members, but i can get only 200 users, is there the to get they all, for example set offset parameter like in python in function get_chat_members from pyrogram"?
In python i can use function "get_chat_members" in "pyrogram" ans set offset parameter

I'm using that function "SearchChatMembers"  in my code

[2021-01-26 10:35] zelenin commented on #40
use `GetSupergroupMembers`

[2021-01-26 10:35] #40 closed

[2021-01-26 10:54] jbc817 commented on #40
It use int32 for id but chat use int64 for id

[2021-01-26 11:01] zelenin commented on #40
you asked about it already https://github.com/zelenin/go-tdlib/issues/38

[2021-01-26 11:03] jbc817 commented on #40
you didn’t answer so I asked again

[2021-01-26 11:08] zelenin commented on #40
i answered `this is chatId, not groupId.` Now we have supergroupId, not chatId.

[2021-01-26 11:18] jbc817 commented on #40
Sorry, I meant chat and not a group

[2021-01-26 11:51] jbc817 commented on #40
So is there a way or not to get the chat list?

[2021-01-26 15:32] zelenin commented on #40
if your chat is supergroup you can use `GetSupergroupMembers`

[2021-02-04 09:59] telexengineering opened #41 "How to cast updates to an struct and what structs should be used."
Hi Everyone.
Recenlty, I'm working on this code to analyze my telegram account events.
with the following code that is mentioned in the Readme.md of this project:
`for update := range listener.Updates {
		if update.GetClass() == client.ClassUpdate {
			log.Printf("%#v", update)
			if update.GetType() =="updateUser" {
				//updateStruct := update.(client.UpdateUserFullInfo)
			}
		}
	}`
I want to n

[2021-02-04 21:59] PullDakar commented on #31
Hi, @imobulus! I have the same issue. The following steps helped me:

In this manual - "https://tdlib.github.io/td/build.html?language=Go" you must select Linux, Ubuntu ..., checkbox "Install built TDLib to /usr/local instead of placing the files to td/tdlib" and g++ compiler.

P.S. In the described commands there is one: "cmake --build. --target install". Here you may need a "sudo"

[2021-02-05 16:16] telexengineering opened #42 "Error on adding contacts by telegram ID"
Hi
I have 2 phone numbers, from one of them , I exported all of my contacts with their telegram IDs.
In my other phone number by which I created a brand-new Telegram account, when I want to iterate over csv of my contact's telegramIDs and add them one by one by their Telegram IDs via addContact method, I get these errors:
[code]
 and some times
[code]
  It's weird to me because these telegram IDs

[2021-02-05 16:17] telexengineering commented on #41
@zelenin Dear Alexander, Can you help me with this matter?

[2021-02-05 17:08] zelenin commented on #42
you should load user to local database with any search method, then import contacts

[2021-02-05 20:19] telexengineering commented on #42
thank you very much

[2021-02-05 20:19] #42 closed

[2021-02-07 06:19] zelenin commented on #41
[code]

[2021-02-10 09:17] telexengineering commented on #41
thank you very much.
I will check this solution and will make you aware if any problem exists.

[2021-03-19 13:43] telexengineering opened #43 "Invalid user.status data (or cached user.Status data)"
Hi
I'm working on this library to test and automate some of Telegram features for myself. Therefore, I logged into another phone number which I had by using this library and added my real phone number as a contact to it.
The first time I fetched my phone number's Telegram profile, everything seemed to be OK.
The second time, somethings were wrong. For example, the last seen stamp (Was online) was

[2021-03-19 13:47] telexengineering opened #44 "Trying to open sqlite database"
Hi.
I've tried to open sqlite database of tdlib in sqlite DB Browser (https://sqlitebrowser.org/dl/)
the app asks me for encryption password or encryption Raw key of the database.
Where can I find such a key?

[2021-03-19 18:22] zelenin commented on #44
try ask here https://github.com/tdlib/td

[2021-03-19 18:22] #44 closed

[2021-03-19 18:23] zelenin commented on #43
try ask here https://github.com/tdlib/td
go-tdlib is just wrapper

[2021-03-19 18:23] #43 closed

[2021-03-24 11:00] comerc opened #45 "Error: Receive is called after Client destroy, or simultaneously from different threads"
[code]

Workaround:

![Снимок экрана от 2021-03-22 00-50-48](https://user-images.githubusercontent.com/1025241/111922024-c047c580-8aa8-11eb-9033-b832192deb1e.png)

Solution by @levlam

Please add support for td_create_client_id, td_send, td_receive, td_execute

https://core.telegram.org/tdlib/docs/td__json__client_8h.html

[2021-03-24 11:15] comerc commented on #45
Related: https://github.com/zelenin/go-tdlib/issues/18

[2021-03-25 20:40] comerc opened #46 "How to use Markdown for SendMessage?"
Please help me! :)

[2021-03-25 21:00] comerc commented on #46
[code]

[2021-03-25 21:00] #46 closed

[2021-04-03 14:11] telexengineering opened #47 "Failed to build project"
Hi.
I am using your project in my code as a dependency.
When I try to build my go application with the following command:
`
GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -a -installsuffix cgo -ldflags '-extldflags "-static" -X app.Version=v2021.04.03-140818-a6a2828 -X app.CommitHash=a6a2828f0aeabdd0f70657c014c504eb36d8f983' -o ./release/console bitbucket.org/tlxco/my-test-telegram-client/console

[2021-04-05 03:07] zelenin commented on #45
https://github.com/zelenin/go-tdlib/releases/tag/v0.4.0
thanks for request

[2021-04-05 03:07] #45 closed

[2021-04-05 03:08] #41 closed

[2021-04-05 03:08] #31 closed

[2021-04-05 05:48] telexengineering commented on #47
@zelenin Could you help me?

[2021-04-07 07:37] yabeow commented on #47
Same problems here. Work fine in darwin but get these errors in linux :(

[2021-04-09 18:59] livelace opened #48 "Possible solution for "Race condition in the new multi client design #1242""
Hello. I think you have already seen this issue [Race condition in the new multi client design #1242](https://github.com/tdlib/td/issues/1242).

TLDR: Since 1.7.0 receiving updates must be safe (mutually exclusive) between different threads.

I use go-tdlib and see that this is a compex task to pass some shared mutex between threads tree, hence I have questions to you:

1. What do you think about

[2021-04-10 04:11] zelenin commented on #48
go-tdlib supports the new client design already.
https://github.com/zelenin/go-tdlib/issues/45

[2021-04-10 05:47] livelace commented on #48
Hm, it seems that doesn't work for me. I get this error just at the time of a second client creation (custom listeners are even not created yet). I tried go-tdlib 0.4 with tdlib 1.7.0.

[2021-04-10 13:50] livelace commented on #48
**2netwalkers**

This short example will give you error:

[code]

Due to https://github.com/tdlib/td/blob/eb80924dad30af4e6d8385d058bb7e847174df5e/td/telegram/td_json_client.h#L70

So, I decided to make some small changes to my app and restrict it with one telegram client per instance, because I don't see an easy way to support multiple clients right now.

[code]

[2021-04-10 14:50] zelenin commented on #48
@livelace i will check it

[2021-04-13 22:31] comerc opened #49 "How to use EditMessageText() / EditMessageCaption()"
SendMessage() with ReplyToMessageId work fine, but EditMessageText() / EditMessageCaption() raise error: "5 Message not found"

[code]

Please help me!

[2021-04-14 15:20] #49 closed

[2021-04-17 06:51] telexengineering commented on #47
Dear @zelenin could you help us?

[2021-04-24 19:03] L11R commented on #48
Same problem :(

[2021-04-25 10:06] askovpen commented on #48
[ 0][t 0][1619345016.295426607][Client.cpp:277] Receive is called after Client destroy, or simultaneously from different threads

[2021-04-29 10:34] telexengineering opened #50 "adding timeout for DownloadFile method"
how to add time out for TDLib download file method in sync mode?

[2021-04-29 10:50] zelenin commented on #50
https://github.com/zelenin/go-tdlib/blob/master/client/function.go#L5481
no way, I think

[2021-04-29 10:50] #50 closed

[2021-05-05 20:58] comerc opened #51 "Support 1.7.4"
Please update to 1.7.4 for Payments 2.0

https://github.com/tdlib/td/issues/1523

[2021-05-06 00:27] zelenin commented on #51
i don't support untagged releases because these are actually beta versions (acc. levlam)
https://github.com/tdlib/td/releases

[2021-05-06 00:27] #51 closed

[2021-05-06 11:11] ArkIv opened #52 "Give some examples"
Show an example of how to get data as text using updateNewMessage as an example.
[code]

[2021-05-06 18:34] zelenin commented on #52
you should cast to `UpdateNewMessage` and use it
```updateNewMessage, ok := update.(*client.UpdateNewMessage)```

[2021-05-07 01:10] #52 closed

[2021-05-17 08:02] telexengineering commented on #47
Dear @zelenin would you mind telling me what should I do in order to build the project?

[2021-05-17 08:15] telexengineering opened #53 "Failed to build project in linux"
Hi.
I am using your project in my code as a dependency.
When I try to build my go application with the following command:
GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -a -installsuffix cgo -ldflags '-extldflags "-static" -X app.Version=v2021.04.03-140818-a6a2828 -X app.CommitHash=a6a2828f0aeabdd0f70657c014c504eb36d8f983' -o ./release/console bitbucket.org/tlxco/my-test-telegram-client/console
I

[2021-05-17 08:41] zelenin commented on #47
@telexengineering try module mode, not vendoring

[2021-05-20 14:56] telexengineering commented on #47
@zelenin can you explain a bit more what you mean?

[2021-05-20 15:55] zelenin commented on #47
https://blog.golang.org/using-go-modules
try to include the library in a project that supports modules. It is now included in the old-way project. Maybe this is the issue

[2021-05-26 21:14] 0x123456789 opened #54 "Failed to parse JSON object as TDLib request: Unknown class "inputMessageInvoice""
There is a class inputMessageInvoice In documentation (https://core.telegram.org/tdlib/docs/classtd_1_1td__api_1_1input_message_invoice.html) If I try to use it as @type value then get `"Failed to parse JSON object as TDLib request: Unknown class "inputMessageInvoice""` error. Can you please explain how to use this class with this bindings?

[2021-05-26 21:40] 0x123456789 commented on #54
I've got it. Here helpful example https://pastebin.com/HqANJXT7

[2021-05-26 21:40] #54 closed

[2021-05-29 09:36] khoazero123 opened #55 "How to send a message encrypted?"
Is this lib support send a message encrypted? This API - https://core.telegram.org/method/messages.sendEncrypted

[2021-05-29 14:23] zelenin commented on #55
All messages will encrypted when you will open secret chat

[2021-05-29 14:23] #55 closed

[2021-06-01 09:06] khoazero123 commented on #25
@Fef0 Can you guide me how to Statically linking tdlib ? I'm new with Go lang.

[2021-06-01 15:20] telexengineering commented on #47
@zelenin my project already has go modules. and I initiated the project and imported your code via this.
What's your other suggestion?

[2021-06-01 15:26] zelenin commented on #47
but I see `vendor` in your error. This is vendoring, not modules.

[2021-06-03 17:01] khoazero123 opened #56 "How to build on Windows?"
I have complete all step in this [guide](https://tdlib.github.io/td/build.html?language=Go) , after build done on Windows, I don't know what todo next ?
I have copy folder `tdlib\include\td` to `C:\Users\admin\go\pkg\mod\github.com\zelenin\go-tdlib@v0.4.0\client`
and got some error when run this command in project folder `go get .`
[code]

[2021-06-05 09:44] Dr-moon opened #57 "how i get correct id after sending new message with UpdateMessageSendSucceeded?"
how i use UpdateMessageSendSucceeded to find correct id and can edit that message ?

[2021-06-05 15:14] telexengineering commented on #47
The problem solved.
I've used go modules but the problem had roots in using `-a -installsuffix cgo -ldflags '-extldflags "-static" -X app.Version=v2021.04.03-140818-a6a2828 -X app.CommitHash=a6a2828f0aeabdd0f70657c014c504eb36d8f983'` flags.
when I removed them everything gone well.

[2021-06-05 15:14] #47 closed

[2021-06-05 15:14] telexengineering commented on #53
The problem solved.
I've used go modules but the problem had roots in using `-a -installsuffix cgo -ldflags '-extldflags "-static" -X app.Version=v2021.04.03-140818-a6a2828 -X app.CommitHash=a6a2828f0aeabdd0f70657c014c504eb36d8f983'` flags.
when I removed them everything gone well.

[2021-06-05 15:14] #53 closed

[2021-06-27 11:35] continue98 commented on #56
Need use powershell with variable environment. For example:
[code]

in my case:

[code]

[2021-07-09 16:22] telexengineering opened #58 "Problem in detecting online status and last seen of users after calling GetUser method multiple times."
Hi.
I have written a code in which I have a for loop and I check last seen and online status of my Telegram account ,periodically. I had added my cellphone's phone number as contact to Tdlib client before.
In this for loop, my last seen doesn't change while my cellphone gets online and offline in Telegram app, and my last seen is changed in Telegram application itself.
When I reset my code (kill t

[2021-07-17 06:38] telexengineering commented on #58
Dear @zelenin do you have any idea?

[2021-08-07 12:46] Serqati opened #59 "Does new updates handle in different threads?"

[2021-09-07 11:09] halink0803 opened #61 "GetSupergroupChatMembers return all userId equals to 0"
Today I used the function GetSupergroupChatMembers to retrieve all user members info, but every members return with user id = 0. I am not sure this is a problem of the lib or it is the problem of tdlib itself. Can you please check?

[2021-09-20 11:50] telexengineering opened #62 "supporting 64bit IDs of telegram"
Hi.
Will you update this library's source code to support ID changes to 64 bit related to last change of telegram?
I mean this update:

This new version of Telegram also contains an important upgrade that will allow our apps to work without interruption. Until now, Telegram used 32-bit values for the identifiers of users and channels. Due to its fast growth, Telegram had been quickly approaching t

[2021-10-01 08:19] vlabots opened #63 ""Library not found" error"
I copied folder tdlib/include/td on macos system to /Users/montie/go/pkg/mod/github.com/zelenin/go-tdlib@v0.4.1/client
and got some error when ran this command in project folder `go get .`

`# github.com/zelenin/go-tdlib/client
ld: library not found for -ltdjson_static
clang: error: linker command failed with exit code 1 (use -v to see invocation)
`

What should I do?

Thank you for the answers.

[2021-10-09 19:26] vdntruong commented on #56
I have done almost stuff but get an error 😭

`could not launch process: Process 13004 has exited with status 3221225781`

[2021-11-02 15:13] telexengineering opened #64 "How to force TDlib Client to use specific network interface"
Hello.
How can I config my TDLib client to use a specific interface of the droplet for sending/receiving its requests?

[2021-11-04 14:44] donetkit commented on #56
API server listening at: 127.0.0.1:50662
could not launch process: Process 5812 has exited with status 3221225781

[2021-11-04 14:46] donetkit commented on #56
I have done almost stuff but get an error  （ tdlib v1.7.0 ）

API server listening at: 127.0.0.1:50662
could not launch process: Process 5812 has exited with status 3221225781

[2021-11-05 01:23] donetkit commented on #56
resolved 😄

[2021-11-21 23:54] Kiriz01 opened #65 "Sticker example"
[deleted]

[2021-11-28 18:00] askovpen opened #66 "Crash on userid>Int32.MAX"
Plz update to 1.7.9

https://github.com/tdlib/td/issues/1754

[2021-11-28 18:58] zelenin commented on #66
https://github.com/zelenin/go-tdlib/issues/62

[2021-11-28 18:58] #66 closed

[2021-12-01 16:11] livelace opened #67 "Telegram changes: sponsored messages and int64 for ids"
Hi there. Recently received messages from Telegram about:

1. https://core.telegram.org/api/sponsored-messages
2. https://core.telegram.org/api/layers#layer-133

Corresponding issue in tdlib repo: [ Sponsored messages: Various questions #1753 ](https://github.com/tdlib/td/issues/1753)

It looks like we should have newer version of tdlib/go-tdlib to not be banned.
What do you think guys ?

[2021-12-03 15:39] godcong commented on #56
1. create pkg uder your project
2. clone the project into pkg
3. see tdlib windows build use vcpkg: https://tdlib.github.io/td/build.html?language=Go
4.  create and run the client.

the example you can see my project:
https://github.com/motomototv/telebot
the clone scripts in my project:
[code]

[2021-12-04 12:54] L11R commented on #48
Any news?

[2021-12-08 08:32] airani commented on #67
Hi,
Tdlib need upgrade to current version 1.7.9
https://github.com/tdlib/td/issues/1758
https://github.com/tdlib/td/issues/1753

[2021-12-11 19:40] askovpen commented on #67
https://github.com/tdlib/td/issues/1753#issuecomment-981139816

[2021-12-11 19:41] askovpen commented on #62
https://github.com/tdlib/td/issues/1753#issuecomment-981139816

[2021-12-23 07:10] telexengineering commented on #62
How can I create the code from latest Tdlib schema that supports 64 bit IDs?
 because I've problems with users whose ID is more than 2^32.

[2021-12-25 20:49] telexengineering opened #69 "Generating the project code from tdlib/td"
How can I create the code from the latest Tdlib schema that supports 64 bit IDs?
because I've problems with users whose ID is more than 2^32.
I need instruction to know how to generate go files in this project with the last version of TDLib which has some changes in some IDs (int32 to int36).

[2021-12-27 06:09] godcong commented on #69
Can you tell me which api you have a problem with?
I didn't find a problem with the id in my fork, I replaced the so 32 bit with a 64 bit one.

[2021-12-27 18:12] telexengineering commented on #69
@godcong Hi.
Thank you for your recommendation.
I've replaced zelenin/go-tdlib via your library and when I want to run some tdlib functions I get this panic:

[ 0][t 0][1640628525.754196882][Client.cpp:281] Receive is called after Client destroy, or simultaneously from different threads
SIGABRT: abort
PC=0x7f3ab76bc37f m=6 sigcode=18446744073709551610

goroutine 0 [idle]:
runtime: unknown pc 0x7f3

[2021-12-28 08:12] godcong commented on #69
This looks the client is already destroyed when you call the function.
Whether some Close or Stop function of the Client was called before this

[2021-12-28 21:44] bodqhrohro opened #70 "Receive is called after Client destroy, or simultaneously from different threads"
TDlib aborts with this error when a second client is created in a running instance.

As @levlam explained, in the new Client API the `td_receive` call is shared and the received updates should be dispatched to following clients. The binding has migrated to the new API in 98e8cb003f97653dc31d52bab0cfa6b7d28b99b9, but the receiving architecture wasn't updated accordingly, so every client has its own

[2021-12-29 12:02] AlessandroPomponio commented on #69
Hello @telexengineering @godcong

I have sent an email to the maintainer to see if he could update the library for everyone to include the latest changes that have been made to TDlib. Unfortunately the TDlib developers don't tag their code often enough and lots of things go under the radar. From some comments in the `tdlib/td` repository I have seen that they refer to the current version as `1.7.9

[2021-12-29 15:48] zelenin commented on #69
Hey, guys. Remind you this is a tag-based wrapper. No tag - no update.

I think the tdlib development team (@levlam) should change their approach to code tagging. He explained many times why he does this, but his explanations do not satisfy.

[2021-12-29 15:49] zelenin commented on #69
for your own purposes, you can use the generator

https://github.com/zelenin/go-tdlib/blob/master/Makefile

[2021-12-29 15:50] zelenin commented on #67
https://github.com/zelenin/go-tdlib/issues/69#issuecomment-1002658471

[2021-12-29 15:50] #67 closed

[2021-12-29 16:03] telexengineering commented on #69
Hi.
I've updated the tdlib library (installed on my os) and now I'm receving this panic instead:
[ 0][t 0][1640793747.758627653][Client.cpp:282] Receive must not be called simultaneously from two different threads, but this has just happened. Call it from a fixed thread, dedicated for updates and response processing$
SIGABRT: abort
PC=0x7f0c4d304fff m=3 sigcode=18446744073709551610

I will check y

[2021-12-29 17:27] telexengineering commented on #69
Do you mean that the new code which contains 64bit IDs doesn't exist in the library?

[2021-12-29 17:42] livelace commented on #69
@zelenin I agree with your position, but we can use commit hash instead. What do you think ?

[2021-12-29 17:44] livelace commented on #69
Should explain more. I'm from Gentoo world and it's pretty "normal" to use commit hash instead of tag/release for software building.

[2021-12-29 17:49] AlessandroPomponio commented on #69
It's not in the code available in this repository, as the TDlib developers haven't tagged version 1.8.0 yet.

He said he will only update the library based on tagged versions, but you can generate the code yourself by changing the `TAG` variable in the `Makefile` like I've done here: https://github.com/shitpostingio/go-tdlib/tree/tdlib-29e8df5.
Later on I will try and see if I can sort of automate

[2021-12-29 18:16] livelace commented on #69
@AlessandroPomponio Yes and I can, but I don't want to make one more clone/fork, I want that original go-tdlib repo remains a good solution for golang + tdlib integration.

[2021-12-29 18:28] AlessandroPomponio commented on #69
Yeah, I understand ^^
It must be your lucky day, they tagged 1.8.0 just a few hours ago, apparently :P

[2021-12-29 18:49] livelace commented on #69
New Year Magic =)

[2021-12-30 05:57] zelenin commented on #61
updated https://github.com/zelenin/go-tdlib/releases/tag/v0.5.0

[2021-12-30 05:57] #61 closed

[2021-12-30 05:57] zelenin commented on #69
updated https://github.com/zelenin/go-tdlib/releases/tag/v0.5.0

[2021-12-30 05:57] #69 closed

[2021-12-30 12:25] telexengineering commented on #70
Dear @zelenin could you help us with a solution to solve this problem?

[2021-12-30 12:26] telexengineering commented on #70
Dear @levlam , Does it mean that we cant run different tdlib clients per different threads in one instance?

[2021-12-30 12:45] bodqhrohro commented on #70
They didn't pay attention for the project for about a month already. If it would persist, it's probably time to call the @godcong's fork a successor.

As a temporary solution, I just [rolled](https://github.com/bodqhrohro/go-tdlib/tree/old-api-revert) it back to the old API.

[2021-12-30 15:00] levlam commented on #70
@telexengineering It means that you don't need to create a thread for each active client. The same thread must be used to handle responses and updates for all clients.

[2021-12-30 16:46] telexengineering commented on #70
So Why that panic happens?

[2021-12-30 16:46] telexengineering commented on #70
So Why Does that panic happen?

[2021-12-30 16:47] levlam commented on #70
@telexengineering Because go-tdlib creates a thread for each client.

[2021-12-30 16:50] telexengineering commented on #70
@zelenin is it true?

[2021-12-30 19:20] zelenin commented on #70
I think I know what the problem is. Need time for research.

[2021-12-31 09:18] telexengineering commented on #70
Thank you very much.

[2021-12-31 10:01] telexengineering commented on #70
Dear @gocong do you have a solution or idea about this problem?
Because my application development has been stopped because of this malfunction and I would become thrilled if you can help me.

[2021-12-31 17:46] askovpen commented on #70
https://github.com/alexbilevskiy/go-tdlib/commit/6df7ea7c6881ab4c7fe2e40ff655a9f0099545c5

[2021-12-31 18:17] telexengineering commented on #70
Dear @zelenin do you approve this approach?

[2021-12-31 18:19] telexengineering commented on #70
Thank you for your suggestion

[2021-12-31 18:20] telexengineering commented on #70
Dear @zelenin, do you admit this approach?
By doing these changes, I mean, wouldn't there be other problems in other parts of the program?

[2021-12-31 19:11] zelenin commented on #70
yes, this is what we need.

I fixed some race conditions and released 0.5.1.
The current code needs a little refactoring than I will do in the next year, but it already works for a multi-instance clients.

Thanks @askovpen for the code and everyone for your patience. Happy New Year!

[2021-12-31 20:04] askovpen commented on #48
fixed in https://github.com/zelenin/go-tdlib/commit/e5d2ffd3f9bf81a5fc4b1287ae8fb45a8763faa4

[2021-12-31 20:33] telexengineering commented on #70
Thank you from both of you @askovpen and @zelenin
I will check the code and will let you know if the problem remains.

[2022-01-01 08:56] askovpen commented on #70
For code thanks not me :-) thanks @alexbilevskiy

[2022-01-01 12:54] L11R opened #71 "For some reason TDLib sends "sender" instead of "sender_id""
While in TDLib scheme we have this:
https://github.com/tdlib/td/blob/master/td/generate/scheme/td_api.tl#L778
In reality it uses "sender". Because of this, SenderId field is always nil.

[2022-01-01 13:12] L11R commented on #71
My bad, have used an old version of TDLib.

[2022-01-01 13:12] #71 closed

[2022-01-03 13:57] borzovplus opened #72 "Is it possible to specify path to tdlib ?"
Is it possible to specify path to tdlib, I complie tdlib in my project but, go-tdlib does not find that

[2022-01-04 05:07] zelenin commented on #72
windows? added instruction to readme

[2022-01-04 05:07] #70 closed

[2022-01-04 05:12] zelenin commented on #59
fixed

[2022-01-04 05:12] #59 closed

[2022-01-04 05:13] #48 closed

[2022-01-04 05:14] zelenin commented on #56
added instruction to readme

[2022-01-04 05:14] #56 closed

[2022-01-04 05:15] zelenin commented on #57
[code]

[2022-01-04 05:15] #57 closed

[2022-01-04 05:16] zelenin commented on #63
use https://tdlib.github.io/td/build.html?language=Go with checkmarked `Install built TDLib to /usr/local instead of placing the files to td/tdlib`

[2022-01-04 05:16] #63 closed

[2022-01-04 05:18] #72 closed

[2022-01-04 06:25] borzovplus commented on #72
no, linux, my steps: from macbook I compile with help docker tldlib for linux, then move libtdjson.so to linux server (I can not compile on the server, because it os very slow)

[2022-01-04 06:25] borzovplus commented on #72
no, linux, my steps:
from macbook I compile with help docker tldlib for linux, then move libtdjson.so to linux server (I can not compile on the server, because it os very slow)

[2022-01-04 07:08] zelenin commented on #72
the same way - use environment variables

[2022-01-04 08:14] borzovplus commented on #72
sorry for my stupid questions (
I'm talking only about ibtdjson.so
I downloaded libtdjson.so and libtdjson.so.1.8.0  to my ubuntu server(I compiled it and upload to gitlab) and where should I move it on the server? What are environment variables I should specify before run my golang application?

[2022-01-04 08:53] zelenin commented on #72
do static builds (by default) that don't need .so

[2022-01-05 15:09] borzovplus commented on #72
How I can build golang application with shared lib libtdjson.so ? Is it possible?) Or from where static build take this shared lib to compile golang application?

[2022-01-05 15:10] borzovplus commented on #72
How I can build golang application with shared lib libtdjson.so ? Is it possible?) Or from where static build take this shared lib to compile golang application?

[2022-01-05 15:18] borzovplus commented on #72
I tired copy this lib to /usr/local/lib, but get this error when try build golang app:
fatal error: td/telegram/td_json_client.h: No such file or directory
#20 12.29  #include <td/telegram/td_json_client.h>

[2022-01-06 01:51] zelenin commented on #72
build according to the instructions, select the installation to /usr/local and see where what will be installed
https://tdlib.github.io/td/build.html

`go build ...` will make a static build, `go build -libtdjson` - dynamic.

if you have non-standard installation paths, use environment variables as in Windows example

[2022-01-06 04:59] borzovplus commented on #72
2 sleepless nights, and haven't moved yet (
All necessary files (such as libtd*.a and libtd*.so, telegram/ and tl/) in /usr/local/include and /usr/local/libs are there
I have standard installation paths.

I tired:
1) go build -libtdjson
But have error:

2) go build -linkshared
But have a lot of such errors:

3) go build -linkshared --ldflags "-extldflags '-static -L/usr/local/lib -ltdjson_static -

[2022-01-06 05:00] borzovplus commented on #72
2 sleepless nights, and haven't moved yet (
All necessary files (such as libtd*.a and libtd*.so, telegram/ and tl/) in /usr/local/include and /usr/local/libs are there
I have standard installation paths.

I tired:
1) go build -libtdjson
But have error:

2) go build -linkshared
But have a lot of such errors:

3) go build -linkshared --ldflags "-extldflags '-static -L/usr/local/lib -ltdjson_static -

[2022-01-25 10:17] e2e-rnd-host opened #73 "Tdlight support"
Hello!, Do you have plans about https://github.com/tdlight-team/tdlight supporting ?
If no, could you advise me in which places it is necessary to make changes to support new tdlib parameters and a new method TdApi.GetMemoryStatistics ?

[2022-01-25 10:45] zelenin commented on #73
you can just replace tdlib with tdlight

[2022-01-25 11:16] e2e-rnd-host commented on #73
But TdlibParameters does not have extnded parameters such as:
disable_minithumbnails (true/false)
disable_document_filenames (true/false)
disable_notifications (true/false)
ignore_update_chat_last_message (true/false)
ignore_update_chat_read_inbox (true/false)
ignore_update_user_chat_action (true/false)
ignore_server_deletes_and_reads (true/false)
receive_access_hashes (true/false)

and also how I

[2022-01-25 11:16] e2e-rnd-host commented on #73
But TdlibParameters does not have extnded parameters such as:
disable_minithumbnails (true/false)
disable_document_filenames (true/false)
disable_notifications (true/false)
ignore_update_chat_last_message (true/false)
ignore_update_chat_read_inbox (true/false)
ignore_update_user_chat_action (true/false)
ignore_server_deletes_and_reads (true/false)
receive_access_hashes (true/false)

and also how I

[2022-01-26 17:00] arisudesu opened #74 "Request: Support calling synchronous methods without client"
The tdlib has number of functions, marked in td_api.tl, that they could be called synchronously, such as [this one](https://github.com/tdlib/td/blob/master/td/generate/scheme/td_api.tl#L4544). These are utility functions that don't require client ID to work and they return the result immediately.

It could be possible to call them via library without calling NewClient too.

[2022-01-26 17:04] arisudesu opened #75 "Request: Wrap td_set_log_message_callback in library"
It could be usefull to set log callback from golang.

[2022-01-27 06:00] zelenin commented on #74
https://github.com/zelenin/go-tdlib/releases/tag/v0.6.0

[2022-01-27 06:00] #74 closed

[2022-02-06 00:46] borzovplus opened #76 "Question is it possible sets tdlib options?"
Is it possible change tdlib options? https://core.telegram.org/tdlib/options

I see that it is possible change tdlib parameters, but what's about options? =)

[2022-02-06 00:48] borzovplus commented on #76
I'am sorry, found setOption method

[2022-02-06 00:48] #76 closed

[2022-02-06 13:13] #73 closed

[2022-04-07 16:58] kvikuz opened #77 "TDLib 1.8.1 support"
Hi, can you support TDLib 1.8.1?

[2022-04-07 17:55] zelenin commented on #77
Client code is generated from the latest stable version of the tdlib schema. Waiting for a new tag
https://github.com/tdlib/td/releases

[2022-04-07 17:55] #77 closed

[2022-04-25 14:30] amirhossein-ka opened #78 "cant build exmaple in README.md"
I was trying to build example in readme and i get tons of error aboud ld
these are first few line:

[code]

i recompiled tdlib version 1.8.3 and it's still same.
and [this library](github.com/Arman92/go-tdlib/) works fine but it doesn't support V 1.8.x

if you want i can send whole error logs.

[2022-05-05 15:38] Fef0 opened #79 "Errors during compiling"
Hi @zelenin, I tried to use this library both with tdlib 1.8.3 and 1.6.0 but every time that I try to compile I get these errors:
[code]

Any idea why?

Thanks in advance

[2022-06-28 14:07] s3rj1k opened #80 "How to use GetChats in recent library version?"
How to use GetChats in recent library version?

[2022-06-29 13:54] bodqhrohro opened #81 "UserFullInfo.BotInfo is missing"
Time for an upgrade? ;)

[2022-07-12 14:59] ghost opened #82 "How to send voice (specific files) in group (or channel) video calls"
Hi.
How could we send voice messages (by sending specific files) using TDLib in the video calls that we have attended?

[2022-07-16 18:19] mxmCherry commented on #77
There will be no tag, they don't tag patch versions.

Potentially addressed by https://github.com/zelenin/go-tdlib/pull/83

[2022-09-28 18:32] amirilidan78 opened #84 "Getting error 500 on new client"
im getting this error do you know how i can fix it ?
[code]
[i used the code from quick start ](https://github.com/zelenin/go-tdlib#client)

and replaced my app id and hash

[2022-10-03 07:56] dAvagimyan opened #85 "I have the error with build golang app"
I have created docker image with the installing tdlib library and golang app. I didn't have error when i installed tdlib, but when i tried build my app , i got this error.
<img width="807" alt="Снимок экрана 2022-10-03 в 10 53 35" src="https://user-images.githubusercontent.com/18144616/193527099-81491648-eb54-409a-be6d-8022fe1649b5.png">

Does Anybody knows what i can do with it ?  Below i present

[2022-10-15 18:26] Chrizpy commented on #85
Hi, do you still have the same issue?

I was curious about this project too but I ended up with the same issues as you.

I stumbled across this [issue](https://github.com/tdlib/td/issues/1244) where [levlam](https://github.com/levlam) claims to have built it with no issues on a fresh install of Ubuntu 20.

I used this Docker image:

[code]

I was also able to build it with `clang` on `ubuntu:focal

[2022-10-17 10:30] dAvagimyan commented on #85
Hi! I  have changed a docker image,  i did it when i use alpine image.

[code]

[2022-10-17 10:30] #85 closed

[2022-10-17 16:55] #65 closed

[2022-10-18 23:35] McLayer commented on #84
Currently `go-tdlib` doesn't support `tdlib` version > `1.8.4`
So building `tdlib` version `1.8.4` should fix the problem. Just run ```git checkout 7eabd8ca60de025e45e99d4e5edd39f4ebd9467e```  in `tdlib` dir and rebuild it.

[2022-10-19 20:07] elboletaire commented on #84
That worked for me, thanks @McLayer

[2022-10-24 07:35] Amirilidan78 commented on #84
tnx 😍